.itemDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.itemDetails img {
  width: 300px;
  margin-right: 20px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #64748b;
}
